<div class="container">
  <div id="search">
    <div class="input-group">
      <em><input type="text" class="form-control" placeholder="Search..." id="query" name="query" value=""></em>
      <div class="input-group-btn">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary" %>
</div>