// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search{
  margin: auto;
  width: 50%;
}
.input-group{
  margin-top: 10em;
}

body{
  background: url("/assets/intro-bg.jpg") no-repeat scroll;
  background-size: cover;
  height: auto;
}
.form-control{
  border: 1px solid #737373;
  height: 45px;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  height: 45px;
}

//sign up page
.signup_form{
  background-color: rgba(169, 169, 169, 0.83);
  label{
    margin-top: 7px;
    margin-bottom: 1px;
    color: #424344;
    font-weight: normal;
  }
  h4{
    color: #284d65;
    font-size: 14px;
  }
  .actions{
    margin-top: 10px;
    input{
      background-color: darkslategrey;
      color: #ffffff;
      border-radius: 5px;
    }

  }
  a{
    float: right;
    border-radius: 5px;
    color: #284d65;
    padding: 0;
  }
  .field{
    input{
      width: 100%;
    }
    #user_remember_me{
      width: 20px;
      font-size: 10px;
    }
  }
  em{
    color: #284d65;
    font-size: 12px;
  }
  #error_explanation{
    font-size: 12px;
    color: #a50000;
    h2{
      font-size: 12px;
    }
  }
  .remember_box{
    font-size: 13px;
    padding: 0;
  }


}

//sign in

